#nav-section {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: #7f47df;
    color: white;
    height: 70px;
    padding: 0 10px;
    width: 100%;
    position: fixed;
    gap: 20px;
    z-index: 5;
    #ham-burger {
        height: 50px;
        width: 50px;
        background-color: #7f47df;
        border: none;
    }
}
#panel-section {
    display: flex;
    #main-content {
        width: 100%;
        margin-top: 70px;
        height: calc(100svh - 70px);
        overflow-y: scroll;
        overflow-x: hidden;
        #panel-content {
            width: 100%;
            #search-container {
                width: 100%;
                height: auto;
                border-radius: 10px;
                color: black;
                padding-left: 40px;
                padding-top: 20px;
                font-size: 15px;

                #search-container-header {
                    font-size: 30px;
                    font-weight: bold;
                    align-items: center;
                    justify-content: center;
                    background-color: #e7e7e7;
                }

                #search-card {
                    width: calc(100% - 140px);
                    display: flex;
                    flex-direction: column;
                    background-color: #ffffff;
                    height: auto;
                    align-items: center;
                    justify-content: center;
                    padding: 20px 30px;
                    border: 0.5px solid rgb(213, 213, 213);

                    #filter-container {
                        display: grid;
                        grid-template-columns: repeat(6, 1fr);
                        gap: 20px;
                        width: 100%;
                        padding: 20px;
                    }
                    @media screen and (max-width: 1200px) {
                        #filter-container {
                            grid-template-columns: repeat(
                                auto-fill,
                                minmax(200px, 1fr)
                            );
                        }
                    }
                }
            }

            #table {
                margin-top: 40px;
                width: calc(100% - 80px);
                table {
                    width: 3000px;
                    border-collapse: collapse;
                }

                th,
                td {
                    padding: 8px 12px;
                    border: 1px solid #ddd;
                }

                thead {
                    background-color: #f2f2f2;
                }

                tbody tr:nth-of-type(odd) {
                    background-color: white; /* White background for odd rows */
                }

                tbody tr:nth-of-type(even) {
                    background-color: #f2f2f2; /* Grey background for even rows */
                }
            }
        }
    }
}
#graph-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    background-color: #ffffff;
    color: #795695;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}
